graft docs
graft src
graft ci
graft tests
graft .github

include .bumpversion.cfg
include .coveragerc
include .cookiecutterrc
include .editorconfig
include .isort.cfg

include LICENSE
include README.md

include tox.ini tox_install.cmd .travis.yml readthedocs.yml

global-exclude *.py[cod] __pycache__ *.so *.dylib *.csv *.pdb
